.tree-map {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20rem;
}

.tree-element {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.tree-element h3 {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  color: #070707;
}